.card {
  max-width: 36rem;
  margin-inline: auto;
  background-color: var(--full-white);
  box-shadow: var(--card-shadow-elevation-medium);
  border-radius: 0.75em;
  overflow: hidden;

  & .image {
    aspect-ratio: 16 / 9;
    overflow: hidden;
    clip-path: polygon(0 0, 100% 0%, 100% 90%, 50% 100%, 0 90%);

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  & .content {
    display: flex;
    flex-direction: column;

    & h2 {
      margin-block-end: 0.4em;
      margin-block-start: 0;
      font-size: clamp(1.5rem, 1.314rem + 0.78vw, 2rem);
      font-weight: 700;
      color: var(--brand-hot-pink);
      line-height: 1.2;
    }

    & small {
      font-family: var(--font-heading);
      font-weight: 700;
      color: var(--brand-deep-plum);
      margin-block-end: 0.25em;
    }

    & p {
      font-size: clamp(1rem, 0.953rem + 0.2vw, 1.125rem);
      margin-block-end: 1rem;
    }
  }
}

@keyframes pan-image {
  0% {
    background-position: 36% 42%;
    background-size: 200%;
  }

  20% {
    background-position: 30% 35%;
    background-size: 200%;
  }

  20.0001% {
    /* -- View 2 -- */
    background-position: 60% 85%;
    background-size: 500%;
  }

  40% {
    background-position: 49% 81%;
    background-size: 500%;
  }

  40.0001% {
    /* -- View 3 -- */
    background-position: 80% 42%;
    background-size: 300%;
  }

  60% {
    background-position: 84% 33%;
    background-size: 300%;
  }

  60.0001% {
    /* -- View 4 -- */
    background-position: 0% 0%;
    background-size: 300%;
  }

  80% {
    background-position: 15% 4%;
    background-size: 300%;
  }

  80.0001% {
    /* -- View 5 -- */
    background-position: 80% 10%;
    background-size: 300%;
  }

  100% {
    background-position: 72% 14%;
    background-size: 300%;
  }
}
