/*
*
* Generic styles
*
*/

.card {
  max-width: 36rem;
  margin-inline: auto;
  background-color: var(--full-white);
  box-shadow: var(--card-shadow-elevation-medium);
  overflow: hidden;

  & .image {
    position: relative; /* add this line */
    aspect-ratio: 16 / 9;
    overflow: hidden;
    clip-path: polygon(0 0, 100% 0%, 100% 90%, 50% 100%, 0 90%);

    & img {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      animation-name: pan-image-two;
      animation-duration: 20s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
    }
  }

  & .content {
    display: flex;
    flex-direction: column;

    & h2 {
      margin-block-end: 0.4em;
      margin-block-start: 0;
      font-size: clamp(1.5rem, 1.314rem + 0.78vw, 2rem);
      font-weight: 700;
      color: var(--brand-hot-pink);
      line-height: 1.2;
    }

    & small {
      font-family: var(--font-heading);
      font-weight: 700;
      color: var(--brand-deep-plum);
    }

    & p {
      font-size: clamp(1rem, 0.953rem + 0.2vw, 1.125rem);
    }
  }
}

/*
*
* Mobile view
*
*/

@media (min-width: 0) and (max-width: 29.98rem) {
  [data-measure="vertical-px-horizontal-px"] {
    & .card {
      border-radius: 12px;
      margin-block-end: var(--utillity-gap-md-px);

      & .content {
        padding-inline: 18px;
        padding-block: 18px;

        & small {
          margin-block-end: 8px;
        }

        & p {
          margin-block-end: 16px;
        }
      }
    }
  }

  [data-measure="vertical-px-horizontal-rem"] {
    & .card {
      border-radius: 0.75em;
      margin-block-end: var(--utillity-gap-md-rem);

      & .content {
        padding-inline: 18px;
        padding-block: 1.125rem;

        & small {
          margin-block-end: 0.5rem;
        }

        & p {
          margin-block-end: 1rem;
        }
      }
    }
  }

  [data-measure="vertical-rem-horizontal-rem"] {
    & .card {
      border-radius: 0.75em;
      margin-block-end: var(--utillity-gap-md-rem);

      & .content {
        padding: 1.125rem;

        & small {
          margin-block-end: 0.5rem;
        }

        & p {
          margin-block-end: 1rem;
        }
      }
    }
  }
}

/*
*
* Desktop view
*
*/

@media (min-width: 30rem) {
  [data-measure="vertical-px-horizontal-px"],
  [data-measure="vertical-px-horizontal-rem"],
  [data-measure="vertical-rem-horizontal-rem"] {
    & .card {
      border-radius: 0.75em;
      margin-block-end: var(--utillity-gap-md-rem);

      & .content {
        padding: 1.5rem;

        & small {
          margin-block-end: 0.25em;
        }

        & p {
          margin-block-end: 1em;
        }
      }
    }
  }
}
