@keyframes pan-image {
  0% {
    background-position: 36% 42%;
    background-size: 200%;
  }

  20% {
    background-position: 30% 35%;
    background-size: 200%;
  }

  20.0001% {
    /* -- View 2 -- */
    background-position: 60% 85%;
    background-size: 500%;
  }

  40% {
    background-position: 49% 81%;
    background-size: 500%;
  }

  40.0001% {
    /* -- View 3 -- */
    background-position: 80% 42%;
    background-size: 300%;
  }

  60% {
    background-position: 84% 33%;
    background-size: 300%;
  }

  60.0001% {
    /* -- View 4 -- */
    background-position: 0% 0%;
    background-size: 300%;
  }

  80% {
    background-position: 15% 4%;
    background-size: 300%;
  }

  80.0001% {
    /* -- View 5 -- */
    background-position: 80% 10%;
    background-size: 300%;
  }

  100% {
    background-position: 72% 14%;
    background-size: 300%;
  }
}

@keyframes animatedGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes pan-image-three {
  0% {
    transform: translate(0, 0) scale(2.5);
  }

  20% {
    transform: translate(-10%, -20%) scale(2.8);
  }

  20.0001% {
    /* -- View 2 -- */
    transform: translate(20%, 35%) scale(3);
  }

  40% {
    transform: translate(-1%, -19%) scale(2);
  }

  40.0001% {
    /* -- View 3 -- */
    transform: translate(20%, 0) scale(2.12);
  }

  60% {
    transform: translate(44%, -9%) scale(2);
  }

  60.0001% {
    /* -- View 4 -- */
    transform: translate(-50%, -45%) scale(2.12);
  }

  80% {
    transform: translate(-58%, -31%) scale(2.16);
  }

  80.0001% {
    /* -- View 5 -- */
    transform: translate(10%, -22%) scale(2.15);
  }

  100% {
    transform: translate(-8%, -33%) scale(3);
  }
}

@keyframes pan-image-two {
  0% {
    transform: translate(0, 0) scale(2.5);
  }

  20% {
    transform: translate(-10%, -20%) scale(3);
  }

  20.0001% {
    transform: translate(20%, 35%) scale(4);
  }

  40% {
    transform: translate(-1%, -19%) scale(3);
  }

  40.0001% {
    transform: translate(20%, 0) scale(3.5);
  }

  60% {
    transform: translate(44%, -9%) scale(2.5);
  }

  60.0001% {
    transform: translate(-50%, -45%) scale(3.5);
  }

  80% {
    transform: translate(-58%, -31%) scale(3.2);
  }

  80.0001% {
    transform: translate(10%, -22%) scale(3);
  }

  100% {
    transform: translate(-8%, -33%) scale(4);
  }
}
