@font-face {
  font-family: "Hellix";
  font-weight: 550;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Hellix-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Hellix";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Hellix-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Cheltenham Std";
  font-weight: 350;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/CheltenhamStd-Book.woff2") format("woff2");
}

@font-face {
  font-family: "Cheltenham Std";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/CheltenhamStd-Light.woff2") format("woff2");
}
