
<form class="values">
    <fieldset id="responsiveValuesSwitch">
        <legend>Values</legend>
        <label class="form-control">
          <input id="remValues" type="radio" name="radio" value="rem" checked />
          Rem values
        </label>

        <label class="form-control">
            <input id="pxValues" type="radio" name="radio" value="pixel"/>
            Pixel Values
          </label>

          <label class="form-control">
            <input id="combinationValues" type="radio" name="radio" value="combination" />
            Combination
          </label>
    </fieldset>

    <div id="responsiveValuesSlot" class="slot">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus laudantium repellat voluptatem nihil, earum laborum deserunt placeat id illum assumenda, sapiente nesciunt. Error qui unde harum rerum? Fuga, eligendi nemo?</p>
    </div>

</form>