/* <div> */
.site-wrapper {
  /* Make content make the footer hug the bottom */
  flex: 1;

  /* Mobile 0 - 480 */
  @media (min-width: 0) and (max-width: 29.98rem) {
    /* Define mobile layout here */
  }

  /* Small desktop/Phablet  480 - 1200 */
  @media (min-width: 30rem) and (max-width: 74.98rem) {
    /* Decide what is supposed to happen here? */
  }

  /* Desktop 1200 - 1800 */
  @media (min-width: 75rem) {
  }
}

/* <main> */
.site-main {
  /* <article> */
  & .content {
    display: flex;
    flex-direction: column;
  }
}

/*
*
* Mobile view
*
*/

@media (min-width: 0) and (max-width: 29.98rem) {
  [data-measure="vertical-px-horizontal-px"] {
    & .site-main .content {
      padding-inline: var(--outer-margin-px);
      padding-block: var(--utillity-gap-px-rem);
    }
  }

  [data-measure="vertical-px-horizontal-rem"] {
    & .site-main .content {
      padding-inline: var(--outer-margin-px);
      padding-block: var(--utillity-gap-sm-rem);
    }
  }

  [data-measure="vertical-rem-horizontal-rem"] {
    & .site-main .content {
      padding-inline: var(--outer-margin-rem);
      padding-block: var(--utillity-gap-sm-rem);
    }
  }
}

/*
*
* Desktop view
*
*/

@media (min-width: 30rem) {
  [data-measure="vertical-px-horizontal-px"],
  [data-measure="vertical-px-horizontal-rem"],
  [data-measure="vertical-rem-horizontal-rem"] {
    & .site-main .content {
      padding-inline: var(--outer-margin-rem);
      padding-block: var(--utillity-gap-sm-rem);
    }
  }
}
