@import "setup/variables.css";
@import "setup/utilities/shadows.css";
@import "setup/utilities/animations.css";
@import "setup/reset.css";
@import "setup/fonts.css";
@import "setup/a11y.css";
@import "setup/typography.css";

@import "global/inputs.css";
@import "global/typography.css";
@import "global/header.css";
@import "global/footer.css";

@import "components/accordion.css";

@import "partials/content/main.css";
@import "partials/cards/card.css";

.controls {
  max-width: var(--breakpoint-md-rem);
  margin-inline: auto;
  margin-block: 4rem;
  padding-inline: 1rem;
}

.measure {
  background-color: var(--brand-sand-50);
  font-size: unset;
  display: grid;
  grid-template-columns: 1rem 1fr;
  grid-template-areas:
    "remBox remText"
    "text text";
  /*   border: 0.125rem solid var(--brand-hot-pink); */
  border-radius: 0.5em;
  padding: 1rem;
  margin-block: 4rem;
  gap: 1rem;

  & #remBox {
    grid-area: remBox;
    display: inline;
    width: 1rem;
    height: 1rem;
    background-color: var(--brand-hot-pink);
  }

  & #remText {
    grid-area: remText;
    display: inline;
    font-size: 1rem;
  }

  & #remInfo {
    grid-area: text;
    font-size: 1rem;
  }
}

.values {
  background-color: var(--brand-sand-50);
  border-radius: 0.5em;
  padding: 1rem;

  & fieldset {
    border: 0.125em solid var(--brand-color-black);
    border-radius: 0.25em;
    margin-block-end: 1rem;
    padding-block: 0.75rem;
    padding-inline: 1rem;
  }
}

/* We are only testing this in mobile view */
/* @media (min-width: 0) and (max-width: 29.98rem) {
  [data-measure="vertical-px-horizontal-px"] {
    & #app {
      background-color: lawngreen;
    }
  }

  [data-measure="vertical-px-horizontal-rem"] {
    & #app {
      background-color: fuchsia;
    }
  }

  [data-measure="vertical-rem-horizontal-rem"] {
    & #app {
      background-color: tomato;
    }
  }
}
 */

#experimentDivider {
  position: relative;
  font-size: 16px;
  margin-block-end: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: var(--breakpoint-md-rem);
  margin-inline: auto;

  &::before,
  &::after {
    content: "";
    flex: 1;
    border-bottom: 0.125rem dashed var(--brand-hot-pink);
  }

  &::before {
    margin-inline-end: 0.5rem;
  }

  &::after {
    margin-inline-start: 0.5rem;
  }
}

#displayViewPort {
  position: relative;
  font-size: 16px;
  width: 100%;
  margin-block-end: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;

  &::before {
    position: absolute;
    text-align: center;
  }

  @media (min-width: 0) and (max-width: 29.98rem) {
    &::before {
      content: "In mobile media query";
    }
  }

  @media (min-width: 30rem) {
    &::before {
      content: "Above mobile media query";
    }
  }
}

.main-header {
  width: 100%;
  max-width: var(--breakpoint-md-rem);
  margin-inline: auto;
  padding-inline: 1rem;
  margin-block-start: 2rem;
}

.demo-form {
  --input-border: #8b8a8b;
  --input-focus-h: 245;
  --input-focus-s: 100%;
  --input-focus-l: 42%;

  width: 100%;
  max-width: var(--breakpoint-md-rem);
  margin-inline: auto;
  margin-block-end: 2rem;
  background-color: var(--brand-sand-50);
  padding: 1.5rem;
  border-radius: 0.4em;

  & input {
    font-size: 16px;
    font-size: max(16px, 1em);
    font-family: inherit;
    padding: 0.25em 0.5em;
    background-color: #fff;
    border: 2px solid var(--input-border);
    border-radius: 4px;
  }

  & input[type="text"] {
    margin-block-end: 1rem;
    /* Kiss of death */
    min-width: 30ch;
  }

  & input:not(textarea) {
    line-height: 1;
    height: 2.25rem;
  }

  & input[disabled] {
    --input-border: #ccc;

    background-color: #eee;
    cursor: not-allowed;
  }

  & input:focus {
    border-color: hsl(
      var(--input-focus-h),
      var(--input-focus-s),
      var(--input-focus-l)
    );
    box-shadow: 0 0 0 3px
      hsla(
        var(--input-focus-h),
        var(--input-focus-s),
        calc(var(--input-focus-l) + 40%),
        0.8
      );
    transition: 180ms box-shadow ease-in-out;
  }
}
