@import "setup/variables.css";
@import "setup/utilities/shadows.css";
@import "setup/reset.css";
@import "setup/fonts.css";
@import "setup/a11y.css";
@import "setup/typography.css";

@import "global/inputs.css";

@import "global/header.css";
@import "global/footer.css";

@import "partials/content/main.css";
@import "partials/cards/card.css";

.wysiwyg-text {
  max-width: var(--breakpoint-md-rem);
  margin-inline: auto;
  margin-block-end: 4rem;

  & > * {
    max-width: 54ch;
    margin-inline-end: auto;
  }

  & ul,
  & ol,
  & dl {
    margin-block: 1.25rem;
  }

  & p {
    margin-block-end: 1.25rem;
  }
}

.controls {
  max-width: var(--breakpoint-md-rem);
  margin-inline: auto;
  margin-block: 4rem;
  padding-inline: 1rem;
}

.measure {
  background-color: var(--brand-sand-50);
  font-size: unset;
  display: grid;
  grid-template-columns: 1rem 1fr;
  grid-template-areas:
    "remBox remText"
    "text text";
  /*   border: 0.125rem solid var(--brand-hot-pink); */
  border-radius: 0.5em;
  padding: 1rem;
  margin-block: 4rem;
  gap: 1rem;

  & #remBox {
    grid-area: remBox;
    display: inline;
    width: 1rem;
    height: 1rem;
    background-color: var(--brand-hot-pink);
  }

  & #remText {
    grid-area: remText;
    display: inline;
    font-size: 1rem;
  }

  & #remInfo {
    grid-area: text;
  }
}

.values {
  background-color: var(--brand-sand-50);
  border-radius: 0.5em;
  padding: 1rem;

  & fieldset {
    border: 0.125em solid var(--brand-color-black);
    border-radius: 0.25em;
    margin-block-end: 1rem;
    padding-block: 0.75rem;
    padding-inline: 1rem;
  }
}

/* We are only testing this in mobile view */
/* @media (min-width: 0) and (max-width: 29.98rem) {
  [data-measure="vertical-px-horizontal-px"] {
    & #app {
      background-color: lawngreen;
    }
  }

  [data-measure="vertical-px-horizontal-rem"] {
    & #app {
      background-color: fuchsia;
    }
  }

  [data-measure="vertical-rem-horizontal-rem"] {
    & #app {
      background-color: tomato;
    }
  }
}
 */

#experimentDivider {
  position: relative;
  font-size: 16px;
  margin-block-end: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: var(--breakpoint-md-rem);
  margin-inline: auto;

  &::before,
  &::after {
    content: "";
    flex: 1;
    border-bottom: 0.125rem dashed var(--brand-hot-pink);
  }

  &::before {
    margin-inline-end: 0.5rem;
  }

  &::after {
    margin-inline-start: 0.5rem;
  }
}

#displayViewPort {
  position: relative;
  font-size: 16px;
  width: 100%;
  margin-block-end: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;

  &::before {
    position: absolute;
    text-align: center;
  }

  @media (min-width: 0) and (max-width: 29.98rem) {
    &::before {
      content: "In mobile media query";
    }
  }

  @media (min-width: 30rem) {
    &::before {
      content: "Above mobile media query";
    }
  }
}
