.site-header {
  background-color: var(--brand-pasoa);
  background-image: url("./images/header-noise.svg");
  color: var(--brand-color-black);

  & .inline-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-inline: auto;

    & .logo {
      & a {
        color: var(--brand-color-black);
        text-decoration: none;
      }
    }
  }
}

/*
*
* Mobile view
*
*/

@media (min-width: 0) and (max-width: 29.98rem) {
  [data-measure="vertical-px-horizontal-px"] {
    .site-header {
      padding-inline: var(--outer-margin-px);
      padding-block: var(--utillity-gap-sm-px);
    }
  }

  [data-measure="vertical-px-horizontal-rem"] {
    .site-header {
      padding-inline: var(--outer-margin-px);
      padding-block: var(--utillity-gap-sm-rem);
    }
  }

  [data-measure="vertical-rem-horizontal-rem"] {
    .site-header {
      padding-inline: var(--outer-margin-rem);
      padding-block: var(--utillity-gap-sm-rem);
    }
  }
}

/*
*
* Desktop view
*
*/

@media (min-width: 30rem) {
  [data-measure="vertical-px-horizontal-px"],
  [data-measure="vertical-px-horizontal-rem"],
  [data-measure="vertical-rem-horizontal-rem"] {
    .site-header {
      padding-inline: var(--outer-margin-rem);
      padding-block: var(--utillity-gap-sm-rem);
    }
  }
}
